<footer class="footer">
  <small>
    Design By Gabz
    <a href="mailto:gab.soucy007@gmail.com">gab.soucy007@gmail.com</a>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
     
    </ul>
  </nav>
</footer>